.container {
    max-width: 90rem;
    font-size: 1.05rem;
}

.markdown {
    h1 {
        margin-bottom: 2rem;
    }

    blockquote {
        margin: 2rem 0;
    }

    .footnotes {
        font-size: 0.9rem;
    }
}

.book-menu {
    font-size: 1.0rem;
}

.book-search {
    margin: 1.6rem 0 2.4rem;
}

.book-section-flat {
    > ul {
        padding-inline-start: 1rem;
    }
}

.book-page {
    padding: 2rem 3rem;
}

.book-toc {
    font-size: 0.86rem;
    line-height: 1.25;
}
